<div class="container">
  <div class="row p-3">
    <figure>
      <img [src]="user?.image" class="rounded-circle" width="330" height="330" style="padding: 15px;">
    </figure>
    <div class="p-5 m-4">    
      <ul>
        <li style="font-size: 20px;">{{ user?.first_name }}</li>
        <li style="font-size: 20px;">{{ user?.last_name }}</li>
        <li><span style="font-weight: bold;">Nombre Usuario:</span> {{ user?.username }}</li>
        <li><span style="font-weight: bold;">Email:</span> {{ user?.email }}</li>
      </ul>
      <button class="btn btn-outline-dark" (click)="deleteUser(user?._id)">Eliminar</button>
      <button class="btn btn-outline-dark" [routerLink]="['/updateuser/', user?._id]">Actualizar</button>
      <button class="btn btn-outline-dark" [routerLink]="['/home']">Volver a listado</button>
    </div>
  </div>
</div>